$background-color: rgb(235, 235, 235);
$foreground-color: rgb(25, 25, 24);
$text-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  background-color: $background-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    background-color: $foreground-color;
    color: $text-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    gap: 10px;
    .logo {
      font-weight: bold;
      font-size: 24px;
    }
    .title {
      font-size: 16px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      input {
        color: white;
        border: none;
        padding: 10px 10px 5px 10px;
        border-bottom: 1px solid $background-color;
        background-color: $foreground-color;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
        &:focus {
          outline: none;
        }
      }

      button {
        border: none;
        background-color: rgb(233, 52, 49);
        border-radius: 10px;
        width: 100px;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        margin: 5px 0;

        &:hover {
          background-color: darken(rgb(233, 52, 49), 10%);
          transition: 0.3s;
        }
      }

      #error {
        color: rgb(206, 43, 43);
        font-style: italic;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        #cart-icon {
          cursor: pointer;
          font-size: 24px;
        }
      }
    }

    p {
      font-size: 14px;
      color: white;

      #Link {
        color: rgb(233, 52, 49);
      }
    }
  }
}
