$background-color: #1a2238;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-info-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 75vw;
  background-color: rgb(73, 73, 73);
  color: white;
  height: fit-content;
  overflow: hidden;

  .item-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;
    .text-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        font-size: 24px;
      }
      .tags {
        font-size: 12px;
        display: flex;
        gap: 5px;
        color: rgb(188, 188, 188);
      }
      .text {
        font-size: 16px;
      }
      .author-text {
        font-size: 18px;

        #time {
          font-size: 10px;
        }
      }

      button {
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        background-color: $background-color;
        color: white;

        &:hover {
          background-color: lighten($background-color, 10%);
          transition: 0.3s;
        }
      }
    }
    .image-container {
      img {
        height: 20vw;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: rgb(49, 49, 48);
    color: white;

    #title {
      font-weight: bold;
    }

    .comment {
      background-color: rgb(66, 66, 66);
      display: flex;
      align-items: center;
      padding: 5px 5px;
      border-radius: 20px;
      gap: 10px;
      .comment-image-container {
        img {
          width: 50px;
          border-radius: 50%;
        }
      }
      .comment-text-container {
        #comment {
          font-style: italic;
        }
      }
    }

    button {
      width: 170px;
      padding: 5px 5px;
      border: none;
      cursor: pointer;
      background-color: rgb(109, 109, 109);
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &:hover {
        background-color: rgb(117, 117, 117);
      }
    }

    .comment-modal {
      display: flex;
      align-items: center;
      gap: 5px;

      input {
        border-radius: 5px;
        border: none;
        padding: 5px 5px;
        width: 800px;
      }

      button {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
