@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

$background-color: rgb(25, 25, 24);
$button-color: rgb(233, 52, 49);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  margin: 5px 15px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  @include mobile {
    width: 90vw;
    height: 12vh;
  }

  .logo {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    cursor: pointer;
    @include mobile {
      font-size: 20px;
    }
  }
  .user-container {
    display: flex;
    align-items: center;
    gap: 5px;

    @include mobile {
      gap: 3px;
    }

    img {
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      color: white;
    }

    button {
      background-color: transparent;
      border: 2px solid $button-color;
      color: white;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 20px;

      &:hover {
        background-color: darken($button-color, 5%);
        transition: 0.3s;
      }
    }
  }
}
